.track-section-grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-columns: 320px;
    gap: 16px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
    width: 100%;
    scrollbar-width: none;
}

.track-section-grid:hover {
    scrollbar-width: initial;
}

.track-section-grid::-webkit-scrollbar {
    height: 8px;
}

.track-section-grid::-webkit-scrollbar-track {
    background: #333; /* колір треку */
    border-radius: 4px;
}

.track-section-grid::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 4px;
    transition: background 0.2s;
}

.track-section-grid::-webkit-scrollbar-thumb:hover {
    background: #888;
}

.track-section-grid {
    scroll-behavior: smooth;
}


@media (max-width: 768px) {
    .track-section-grid {
        grid-auto-columns: 280px;
    }
}

@media (max-width: 480px) {
    .track-section-grid {
        grid-auto-columns: 250px;
    }
}