.spinner {
    border: 3px solid var(--color-bg-glass-medium);
    border-top-color: var(--color-text-main);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}