.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 150px;
    padding: 2rem;
    background-color: var(--color-surface-1);
    border-radius: var(--border-radius-sm);
    gap: 1.5rem;
}

.text {
    font-size: 1.1rem;
    color: var(--color-text-secondary);
    margin: 0;
    font-weight: normal;
}